{% extends 'app/base.html' %}
{% load staticfiles %}


{% block side_content %}
    {% load auth_extras %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
    {% else %}
        <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar Sesión</a></li>
        <li><a href="{% url 'register' %}"><i class="material-icons">input</i>Registrarse</a></li>
    {% endif %}
    <li><div class="divider"></div></li>

    <li><a class="subheader">Filtros</a></li>

    {% if request.user|has_group:"alumno" %}
         <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Sólo mostrar favoritos
            </label>
        </div>
    </li>
    {% endif %}

    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Snacks
            </label>
        </div>
    </li>
    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Almuerzos
            </label>
        </div>
    </li>

    {% for vendedor in vendedores %}
        <li>
            <li><div class="divider"></div></li>
            <a class= "black-text" href="{% url 'vendedorprofilepage' name=vendedor.name %}">{{ vendedor.name }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}

	<div id="map">
         <img style="height:auto; max-width:100%;" src="{% static 'img/mapa.png' %}">
    </div>


{% endblock %}