{% extends 'app/base.html' %}
{% load staticfiles %}

{% block user_info %}
    <li>
        <div class="userView">
            <a href="{% url 'profile_edit' %}">
                <i class="material-icons right grey-text text-lighten-2"
                   style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">
                    settings
                </i>
            </a>
          <div class="background" style="height:175px;">
            <img src="{% static 'img/background4.png' %}">
          </div>
          <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                src="{% static 'img/AvatarPenguin.png' %}"></a>
          <a href="#!name"><span style="margin-left: 5%;" class="white-text name">Invitado</span></a>
        </div>
    </li>
{% endblock %}

{% block side_content %}
    <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
    <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
    <li><div class="divider"></div></li>
{% endblock %}

{% block content %}
{% load auth_extras %}
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>

<div class="section"></div>
  <main>
      <div class="section"></div>

      <h5 class="teal-text" style="text-align: center;">Editar Información</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12 m12" method="post">
            {% csrf_token %}
            <div class='row'>
              <div class='col s12 m12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                {{ form.email }}
                <label style="text-align: center" for='id_email'>Ingresar e-mail nuevo</label>
              </div>
            </div>

              {% if request.user|has_group:"vendedor_fijo" %}

              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">alarm</i>
                        {{form.horainicial}}
                        <label for="id_horainicial">Hora inicial</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">alarm</i>
                      {{form.horafinal}}
                      <label for="id_horafinal">Hora final</label>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}

            {% if request.user|has_group:"vendedor_fijo" or request.user|has_group:"vendedor_ambulante"%}
            <div class='row'>
              <div class='input-field col s12 m12'>
                Seleccione sus formas de pago:
                <div>
                      {{ form.pagos }}
                </div>
              </div>
            </div>
            {% endif %}
              <div>
                  Cambiar avatar:
              </div>

                <div class="col s12 l6">
                  {{ form.imagen }}
                </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                {{ form.password }}
                <label style="text-align: center" for='id_password'>Para confirmar, ingresa tu contraseña</label>
              </div>
            </div>

              <div class='row'>
                <button type='submit' name='btn_login' class='col l6 offset-l3 btn btn-large waves-effect teal'>Confirmar</button>
              </div>

          </form>
        </div>
      </div>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}