{% extends 'app/base.html' %}
{% load staticfiles %}


{% block side_content %}
    {% load auth_extras %}
    {% if user.is_authenticated %}
        {% if request.user|has_group:'alumno' %}
            <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
    {% else %}
        <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
        <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar Sesión</a></li>
        <li><a href="{% url 'register' %}"><i class="material-icons">input</i>Registrarse</a></li>
    {% endif %}
    <li><div class="divider"></div></li>

    {% if request.user|has_group:'vendedor_ambulante' %}
    <li><a class="subheader">Activo</a></li>
    <li>
        <div class="switch" style="margin-left: 80px;">
            <label>
                {% if estado == 'Activo' %}
                    No<input id="activo" type="checkbox" checked><span class="lever"></span>Si
                {% else %}
                     No<input id="activo" type="checkbox"><span class="lever"></span>Si
                {% endif %}
            </label>
        </div>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
<script>
 $("#activo").change(function () {
            $.ajax({
                url: '{% url "change_active" %}',
                success: function(data) {
                      window.location.reload();
                }
            })
 });

 $(document).ready(function(){
    $('.modal').modal();
 });

</script>
    <main>

    <div class="container">
        <div id="profile-page-header" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'img/food-background3.png' %}" alt="user background">
            </div>
            <div class="row hide-on-small-and-down">
                <a class="card-profile-image-large">
                    <img style="margin-top: 20%;" src="/app/{% getvendedorpic nombre %}" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>
            <div class="row show-on-small hide-on-med-and-up">
                <a class="card-profile-image-small">
                    <img src="/app/{% getvendedorpic nombre %}" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>
            <div class="card-content s12">
                <div class="row">
                    <div class="col s3 offset-s2 hide-on-med-and-down">
                        <h4 class="card-title grey-text flow-text text-darken-4 center-align">{{ nombre }}</h4>
                        <p class="medium-small flow-text grey-text center-align">&emsp;{{ tipo }}</p>
                        {% if tipo == 'Vendedor fijo' %}
                        <p class="flow-text text-darken-4 center-align" style="font-size: 0.88rem;">
                            &emsp;&emsp;Horario: <a class="light-green-text center-align">{{ horario_inicio }} - {{ horario_fin }}</a>
                        </p>
                        {% endif %}
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                         <h4 class="card-title flow-text text-darken-4">Estado</h4>
                        <p class="medium-small flow-text light-green-text">{{ estado }}</p>
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h8 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</h8>
                        <p class="medium-small flow-text grey-text">{{ metodospago }}</p>
                    </div>
                {% if user.is_authenticated %}
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4">Favorito</h4>
                                {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                                    <h6><i class="material-icons amber-text" >grade</i>
                                        <span class=" grey-text flow-text text-darken-4"style="font-size:24px; line-height:35px;">{{ numero_favs }}</span>
                                    </h6>
                                {% else %}
                                    {% if favorito %}
                                    <input id="favbig" type="checkbox" checked><span class="lever"></span>
                                    {% else %}
                                    <input id="favbig" type="checkbox"><span class="lever"></span>
                                    {% endif %}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                {% endif %}
                </div>
            {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                <div class="col s3 l2 hide-on-med-and-down right-align">
                    <a href="{% url 'profile_edit' %}" class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            {% endif %}
            </div>

            <div class="row show-on-medium-and-down hide-on-med-and-up">
                <div class="col s3 offset-s2">
                        <h4 class="card-title grey-text flow-text text-darken-4">{{ nombre }}</h4>
                        <p class="medium-small flow-text grey-text">&ensp;{{ tipo }}</p>
                    {% if tipo == 'Vendedor fijo' %}
                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                            &ensp;Horario: <a class="light-green-text">{{ horario_inicio }} - {{ horario_fin }}</a>
                        </p>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</h4>
                                {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                                    <h6><i class="material-icons amber-text" >grade</i>
                                        <span class=" grey-text flow-text text-darken-4"style="font-size:24px; line-height:35px;">42</span>
                                    </h6>
                                {% else %}
                                        <input type="checkbox"><span class="lever"></span>

                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                    </div>
                <div class="col s3 m2 l12 offset-s1">
                    <p class="flow-text text-darken-4">Estado</p>
                    <p class="medium-small flow-text light-green-text">{{ estado }}</p>
                </div>

                <div class="col s3 m2 l12 offset-s1">
                    <p class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</p>
                    <p class="medium-small flow-text grey-text">{{ metodospago }}</p>
                </div>

            {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                <div class="col s4 offset-s8 right-align">
                    <a href="{% url 'profile_edit' %}" class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            {% endif %}
            </div>
        </div>
    </div>
    <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="col s12 z-depth-1">
                <div class="tab-content col s12">
                    <div class="container">
                        <div class="section">
                            <div class="row">

                             {% for p in productos %}
                                <div class="col s6 m6 l4">
                                    <div class="container">
                                        <div class="card z-depth-1">
                                            <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                              <img class="activator responsive-img center-block"  style="max-width: 30%; margin-top:20px; margin-bottom:20px;" src="/app/{% getproductopic p.nombre %}">
                                            </div>
                                            {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                                             <div class="col m4 offset-s8 right-align">
                                                    <a href="{% url 'edicionproductos' name=p.nombre vendedor=nombre %}" class="btn-floating activator waves-effect waves-light darken-2">
                                                          <i class="material-icons ">mode_edit</i>
                                                    </a>
                                             </div>
                                            {% endif %}
                                            <div class="card-content">

                                              <span class="card-title activator grey-text text-darken-4">{{ p.nombre }}<i class="material-icons right">more_vert</i></span>

                                              <p><a class="teal-text">${{ p.precio }}</a></p>
                                            {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                                              <p><a class="red-text right" href="{% url 'eliminarproductos' name=p.nombre vendedor=nombre %}">Eliminar</a></p>
                                            {% endif %}

                                                <div id="{{ p.nombre }}" class="modal">
                                                    <div class="modal-content">
                                                      <img class="activator responsive-img center-block" src="/app/{% getproductopic p.nombre %}">
                                                    </div>
                                                    <div class="modal-footer">
                                                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">{{ p.nombre }}<i class="material-icons right">close</i></span>
                                                <ul>
                                                    <li>Precio: <a class="green-text light-green-text">${{ p.precio }}</a></li>
                                                    <li>Categoria: {{ p.categoria }}</li>
                                                    <li>Stock: {{ p.stock }} </li>
                                                    <br>
                                                    <li>Descripción: {{ p.descripcion }}
                                                        <div class="row">
                                                            <p class="right-align col m6"><a class="waves-effect waves-light" href="#{{ product.nombre }}">Ver imagen</a></p>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
                {% if request.user|has_group:'vendedor_fijo' or request.user|has_group:'vendedor_ambulante' %}
                    <div class='row'>
                        <a class='col l5 offset-l4 btn btn-large waves-effect button teal' href="{% url 'gestionproductos' name=nombre %}">Agregar Item</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </main>

<script>
    $("#favbig").change(function () {
     $.ajax({
         url: '{% url "add_favorite" %}',
         data: {
             'vendedor': '{{nombre}}'
         },
         dataType: 'json',
     })
 })
</script>
{% endblock %}