{% extends 'app/base.html' %}
{% block content %}

<script>
 $(document).ready(function(){
    $('.modal').modal();
  });

</script>
    <main>

    <div class="container">
        <div id="profile-page-header" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/food-background3.png" alt="user background">
            </div>
            <div class="row hide-on-small-and-down">
                <a class="card-profile-image-large">
                    <img style="margin-top: 20%;" src="../static/img/AvatarVendedor6.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>
            <div class="row show-on-small hide-on-med-and-up">
                <a class="card-profile-image-small">
                    <img src="../static/img/AvatarVendedor6.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>
            <div class="card-content s12">
                <div class="row">
                    <div class="col s3 offset-s2 hide-on-med-and-down">
                        <h4 class="card-title grey-text flow-text text-darken-4">Yolanda Martinez</h4>
                        <p class="medium-small flow-text grey-text">&emsp;&emsp;&ensp;Vendedor Fijo</p>
                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                            &emsp;&emsp;Horario: <a class="light-green-text">12:30-14:15</a>
                        </p>
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                         <h4 class="card-title flow-text text-darken-4">Estado</h4>
                        <p class="medium-small flow-text light-green-text">Disponible</p>
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h8 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</h8>
                        <p class="medium-small flow-text grey-text">Efectivo</p>
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4">Favorito</h4>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text" >grade</i>
                                    <span class=" grey-text flow-text text-darken-4"style="font-size:24px; line-height:35px;">42</span>
                                </h6>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col s3 l2 hide-on-med-and-down right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            </div>

            <div class="row show-on-medium-and-down hide-on-med-and-up">
                <div class="col s4 offset-s2">
                        <h4 class="card-title grey-text flow-text text-darken-4">Yolanda Martinez</h4>
                        <p class="medium-small flow-text grey-text">&ensp;Vendedor Fijo</p>
                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                            &ensp;Horario: <a class="light-green-text">12:30-14:15</a>
                        </p>
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text">grade</i>
                                    <span class=" grey-text flow-text text-darken-4"style="font-size:22px; line-height:25px;">42</span>
                                </h6>
                            </label>
                        </div>
                    </div>
                <div class="col s3 m2 l12 offset-s1">
                    <p class="flow-text text-darken-4">Estado</p>
                    <p class="medium-small flow-text light-green-text">Disponible</p>
                </div>

                <div class="col s3 m2 l12 offset-s1"> <!--offset-s2-->
                    <p class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</p>
                    <p class="medium-small flow-text grey-text">Efectivo</p>
                </div>

                <!--<div class="col s3 offset-s2 offset-l10">
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                            <input type="checkbox"><span class="lever"></span>
                        </label>
                    </div>
                </div>-->
                <div class="col s4 offset-s8 right-align"> <!--offset-s4-->
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            </div>
        </div>
    </div>
    <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="col s12 z-depth-1">
                <div class="tab-content col s12">
                    <div class="container">
                        <div class="section">
                            <div class="row">

                                <div class="col s6 m6 l4">
                                    <div class="container">
                                        <div class="card z-depth-1">
                                            <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                              <img class="activator responsive-img center-block"  style="max-width: 30%; margin-top:20px; margin-bottom:20px;" src="../static/img/pizza.png">
                                            </div>
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4">Pizza<i class="material-icons right">more_vert</i></span>
                                              <p><a class="teal-text">$1.300</a></p>
                                                <div id="modal1" class="modal">
                                                    <div class="modal-content">
                                                      <img class="activator responsive-img center-block" src="../static/img/pepperoni1.jpg">
                                                    </div>
                                                    <div class="modal-footer">
                                                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                                    </div>
                                                </div>
                                                <div id="modal2" class="modal">
                                                    <div class="modal-content">
                                                      <img class="activator responsive-img center-block" src="../static/img/pollo1.jpg">
                                                    </div>
                                                    <div class="modal-footer">
                                                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                                    </div>
                                                </div>
                                                <div id="modal3" class="modal">
                                                    <div class="modal-content">
                                                      <img class="activator responsive-img center-block" src="../static/img/jugo1.jpg">
                                                    </div>
                                                    <div class="modal-footer">
                                                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Pizza<i class="material-icons right">close</i></span>
                                                <ul>
                                                    <li>Precio: <a class="green-text light-green-text">$1.300</a></li>
                                                    <li>Categoria: Almuerzos</li>
                                                    <li>Stock: 20 </li>
                                                    <!--<small class="btn-floating btn-small waves-effect waves-light red accent-2"><i class="material-icons tiny">add</i></small>-->
                                                    <br>
                                                    <li>Descripción: Deliciosa pizza hecha con masa casera, viene disponible en 3 tipos:
                                                        <p>-Peperoni: Queso mozzarella, Pepperoni</p>
                                                        <p class="right-align"><a class="waves-effect waves-light" href="#modal1">Ver imagen</a></p>
                                                        <p>-Clásica: Queso mozzarella, Aceitunas, Jamon, Tomate</p>
                                                        <p class="right-align"><a class="waves-effect waves-light" href="#modal1">Ver imagen</a></p>
                                                        <p>-Vegetariana: Queso mozzarella, Aceitunas, Champiñones, Tomate</p>
                                                        <p class="right-align"><a class="waves-effect waves-light" href="#modal1">Ver imagen</a></p>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col s6 m6 l4">
                                    <div class="container">
                                        <div class="card z-depth-1">
                                            <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                              <img class="activator responsive-img center-block"  style="max-width: 30%; margin-top:20px; margin-bottom:20px;" src="../static/img/rice.png">
                                            </div>
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4">Menú de arroz<i class="material-icons right">more_vert</i></span>
                                              <p><a class="teal-text">$2.500</a></p>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Menú de arroz<i class="material-icons right">close</i></span>
                                              <ul>
                                                <li>Precio: <a class="green-text light-green-text">$2.500</a></li>
                                                <li>Categoria: Almuerzos</li>
                                                <li>Stock: 40</li>
                                                <li>Descripción: Almuerzo de arroz con pollo arvejado.
                                                    <p class="right-align"><a class="waves-effect waves-light" href="#modal2">Ver imagen</a></p>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col s6 m6 l4">
                                    <div class="container">
                                        <div class="card z-depth-1">
                                            <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                              <img class="activator responsive-img center-block"  style="max-width: 30%; margin-top:20px; margin-bottom:20px;" src="../static/img/juice.png">
                                            </div>
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4">Jugo<i class="material-icons right">more_vert</i></span>
                                              <p><a class="teal-text">$300</a></p>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Jugo<i class="material-icons right">close</i></span>
                                              <ul>
                                                <li>Precio: <a class="green-text light-green-text">$300</a></li>
                                                <li>Categoria: Snack</li>
                                                <li>Stock: 40</li>
                                                <li>Descripción: Jugo en caja sabor durazno.
                                                    <p class="right-align"><a class="waves-effect waves-light" href="#modal3">Ver imagen</a></p>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class='row'>
                    <a class='col l5 offset-l4 btn btn-large waves-effect button teal' href="{% url 'gestionproductos' %}">Agregar Item</a>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}